* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.opacity {
    width: auto;
    height: auto;
}
.container-info-main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inte {
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
}
.boton1 img {
    width: 20px;
    transform: scale(1.1);
    animation-iteration-count: 10.5;
    animation-name: layer2;
    animation-timing-function: ease-in-out;
    animation-duration: 0.9s;
}
@keyframes layer2 {
    0% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}
.info-article {
    width: 70%;
    height: auto;;
    margin: 0 auto;
    padding-top: 2.2%;
    padding-bottom: 10%;
   
}
.info-article h1 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%; 
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 30px;
    text-decoration: none;
    transition-duration: 1s;
}
.info-article p {
    margin-top: 50px;
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: jus tify;
    color: #4d4949;
    margin-bottom: 25px;
}
.pa {
    text-align: justify;
    margin-top: 50px;
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: jus tify;
    color: #4d4949;
    margin-bottom: 25px;
}
.interno {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    margin-bottom: -5%;
}
.interno2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: -5%;
}
.interno3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
    margin-bottom: -5%;
} 
.boton1 {
    background-color: #00000000;
}
#miVentanaEmergente {
    position: fixed;
    width: 60%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff4f4;
    border-radius: 20px;
    border: 1px solid #cca3a3;
    padding: 30px;
    display: none;
}
.container-button {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.container-button button {
    background-color: #00000000;
    margin-right: -5%;
    margin-top: -3%;

}
.container-button img {
    width: 50%;
}
.titulo-informativo {
    margin-top: 2%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.titulo-informativo h2 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 2%;
    color: rgb(0, 0, 0);
}
.titulo-informativo P {
    margin-top: 4%;
    font-family: 'Antic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: rgb(0, 0, 0);
}

